app:
  security:
    admin:
      username: ${ADMIN_USERNAME:admin}
      password: ${ADMIN_PASSWORD:devPassword123}

server:
  port: 8080
  ssl:
    enabled: false
  error:
    include-message: always
    include-stacktrace: always

logging:
  level:
    org.springframework.security: DEBUG
    com.fintech: DEBUG
    org.hibernate.SQL: DEBUG
